<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; let i= index">
                <td><input type="checkbox" [checked]="task.taskCompleted==false" disabled></td>
                <td>{{task.task}}</td>
                <td>{{task.description}}</td>
                <td>{{task.lastUpdate}}</td>
                <td><button class="btn btn-primary">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
